<%- include('header'); -%>
<table>
    <tr>
        <td>Name</td>
        <td>Mobile Number</td>
        <td>Email ID</td>
        <td>Home Address</td>
    </tr>
    <tr>
        <td>Jake Smile</td>
        <td>0503235587</td>
        <td>js32@gmail.com</td>
        <td>UAE</td>
    </tr>
</table>
<%- include('footer'); -%>